.hero {
  height: 100vh;
  background: url("./banner-bg.png");
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;

    .textContainer {
      height: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 40px;
      width: 50%;

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 10px;
      }

      h1 {
        font-size: 88px;
      }

      .buttons {
        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: #fff;
          margin-right: 20px;
          cursor: pointer;
          font-weight: 700;
        }

        button:hover{
          border: 1px solid rebeccapurple;
        }

        button:nth-child(2) {
          background-color: #fff;
          color: black;
        }

        button:nth-child(2):hover {
          background-color: transparent;
          color: white;
        }
      }

      img {
        width: 50px;
      }
    }

    .imageContainer {
      height: 100%;
      position: absolute;
      top: 25%;
      right: 0;
      animation: test 5s ease infinite;
    }

    .slidingTextContainer {
      position: absolute;
      font-size: 50vh;
      bottom: -120px;
      white-space: nowrap;
      color: #ffffff09;
      width: 50%;
      font-weight: bold;
    }
  }
}

@keyframes test {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}
