@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 90vw;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  
  
  @include tablet{
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }


  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include tablet{
      gap: 20px;
      text-align: center;
      align-items: center;
      margin: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 80px;

      @include mobile{
        line-height: 50px;
        font-size: 36px;
      }
    }

    span {
      font-weight: 300;
    }
  }

  .formContainer {
    flex: 1;
    
    @include tablet{
      width: 90%;

    
    }

    .earthSvg {
      stroke: orange;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      svg {
        border: 4.5px solid orange;
        border-radius: 50%;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;

      input,
      textarea {
        padding: 20px;
        background-color: transparent;
        border: 1px solid #fff;
        color: white;
        border-radius: 5px;

        @include tablet{
          padding: 10px;
        }
      }

      button {
        padding: 20px;
        border: none;
        background-color: orange;
        cursor: pointer;
        font-weight: 500;
        border-radius: 5px;

        @include tablet{
          padding: 10px;
        }
      }
    }
  }
}
